<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glemt adgangkode</title>
 <link rel="stylesheet" th:href="@{/login/login.css}">
</head>

<body>

<div class="login-container">

    <h1>Glemt adgangskode</h1>
    <form th:action="@{/auth/forgot-password}" th:object="${user}" method="post">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>


        <label for="newPassword">Ny adgangskode</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <button type="submit">Gem ændringer</button>


    </form>

    <p th:if="${emailNotFound}" >
        Email findes ikke
    </p>

    <a th:href="@{/auth/login}" >
        Tilbage til login
    </a>
</div>

</body>
</html>