<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønske</title>

    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link rel="stylesheet" th:href="@{/stylesheet.css}">
</head>

<body>

<div th:replace="fragments/nav :: navbar"></div>

<h1 th:text="${wish.productName}"></h1>

<p th:text="${wish.description}"></p>

<p th:text="${wish.linkToProduct}"></p>

<a th:href="@{/wishlists/{wishlistId}(wishlistId=${wishlistId})}" class="back-link">
    ← Tilbage
</a>

</body>
</html>