<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="page-container">

    <h1 th:text="${wishlist.title}"></h1>

    <div>
        <form th:action="@{/wishlists/{id}/share (id=${wishlist.id})}" method="post">
            <label>Del med email</label>
            <input type="email" name="email" required placeholder="Indtast email...">
            <button type="submit">Del</button>
        </form>
    </div>

    <h2>Personer med adgang</h2>

    <div>
        <div th:each="viewer : ${viewers}">
            <p th:text="${viewer.getEmail()}"></p>

            <form th:action="@{/wishlists/{id}/share/delete(id=${wishlist.id})}" method="post">
                <input type="hidden" name="viewerId" th:value="${viewer.id}">
                <input type="hidden" name="source" value="share">
                <button type="submit" class="remove-btn">Fjern</button>
            </form>
        </div>
    </div>

    <a th:href="@{/wishlists/{id} (id=${wishlist.id})}">← Tilbage</a>

</div>

</body>
</html>