<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}"></head>
<body>

<h1>Min ønskeliste</h1>

<a th:href="@{/wishlists/{wishlistId}/share (wishlistId=${wishlist.id})}">Del</a>

    <!-- Dine eksisterende ønskelister -->
    <div class="wishlist-card" th:each="wish : ${wishes}">
        <a class="wishlist-title" th:href="@{/wishlists/{id}(id=${wishlist.id})}">
            <h3 th:text="${wish.productName}"></h3>
        </a>

        <div class="wishlist-actions">
            <a class="action-btn edit-btn" th:href="@{/wishlists/{wishlistId}/wishes/{wishID}/edit (wishlistId=${wishlist.id}) (wishID=${wish.id})}">Rediger</a>

            <form th:action="@{/wishlists/{wishlistId}/wishes/{wishID}/delete(wishlistsId=${wishlist.id}, wishID=${wish.id})}" method="post">
                <button type="submit" class="action-btn delete-btn">Slet</button>
            </form>
        </div>
    </div>
</div>

<div th:if="${canEdit}">
<a th:href="@{/wishlists/{wishlistId}/wishes/new (wishlistId=${wishlist.id})}" class="plus-knap">+</a>
</div>
</body>
</html>