<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}">
</head>
<body>

<h1>Min ønskeliste</h1>

<div th:if="${canEdit}">
    <a class="action-btn edit-btn" th:href="@{/wishlists/{wishlistId}/share (wishlistId=${wishlist.id})}">Del
        ønskeliste</a>
</div>

<div class="wishlist-card" th:each="wishview : ${wishViews}">
    <a class="wishlist-title" th:href="@{/wishlists/{id}(id=${wishlist.id})}">
        <h3 th:text="${wishview.wish.productName}"></h3>
    </a>

    <div th:if="${canEdit}" class="wishlist-actions">
        <a class="action-btn edit-btn"
           th:href="@{/wishlists/{wishlistId}/wishes/{wishId}/edit(wishlistId=${wishlist.id}, wishId=${wishview.wish.id})}">
            Rediger
        </a>

        <form th:action="@{/wishlists/{wishlistId}/wishes/{wishId}/delete(wishlistId=${wishlist.id}, wishId=${wishview.wish.id})}"
              method="post">
            <button type="submit" class="action-btn delete-btn">Slet</button>
        </form>
    </div>

    <div th:if="${!canEdit}">
        <!-- Ikke reserveret -->
        <form th:if="${!wishview.reserved}"
              th:action="@{/wishlists/{wishlistId}/wishes/{wishId}/reserve(wishlistId=${wishlist.id}, wishId=${wishview.wish.id})}"
              method="post">
            <button>Reserver</button>
        </form>

        <!-- Reserveret af mig -->
        <form th:if="${wishview.reservedByMe}"
              th:action="@{/wishlists/{wishlistId}/wishes/{wishId}/unreserve(wishlistId=${wishlist.id}, wishId=${wishview.wish.id})}"
              method="post">
            <button>Fjern reservation</button>
        </form>

        <!-- Reserveret af en anden -->
        <p th:if="${wishview.reserved and !wishview.reservedByMe}">
            Reserveret af en anden
        </p>
    </div>
</div>

<div th:if="${canEdit}">
    <a th:href="@{/wishlists/{wishlistId}/wishes/new (wishlistId=${wishlist.id})}" class="plus-knap">+</a>
</div>
<div>
    <a th:href="@{/wishlists}" class="back-link">← Tilbage</a>
</div>
</body>
</html>


