<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}"></head>
<body>

<h1>Min ønskeliste</h1>

<div class="liste">
    <div class="papir">
        <button class="tilfoej-knap">Tilføj ønske</button>
    </div>
    <div th:each="wish : ${wishes}">
        <a th:href="@{{link}(link=${wish.linkToProduct})}">
            <p th:text="${wish.productName}"></p>
        </a>
    </div>
</div>

<a th:href="@{/wishlists/{wishlistID}/wishes/new(wishlistID=${wishlistID})}" class="plus-knap">+</a>

</body>
</html>